!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>title</title>
  </head>
  <body>

  <p><%= @article.title %>
  <%= @article.content %></p>

    <form method="post" action="/article/<%=@article.id%>/delete">
      <input id="hidden" name = "_method" value="delete">
      <input type="submit" value="delete">
    </form>

  </body>
</html> 